<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biyanzhi"
    android:versionCode="6"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <application
        android:name="com.biyanzhi.applation.MyApplation"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.biyanzhi.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="tencent1104603545" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="com.biyanzhi.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 调用新浪原生SDK，需要注册的activity -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- 调用新浪原生SDK，需要注册的回调activity -->
        <activity
            android:name="cn.sharesdk.sina.weibo.SinaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="774663576#biyanzhi" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <activity
            android:name="com.biyanzhi.chooseimage.SelectPhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.PublicshPictureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.showbigimage.ImagePagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.PictureCommentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.ImageDelPagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.imagefactory.ImageFactoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.register.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.PersonalCenterActivity"
            android:label="@string/title_activity_personal_center"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.SelfInfoActivity"
            android:label="@string/title_activity_self_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.UpDateUserNameActivity"
            android:label="@string/title_activity_up_date_user_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.GuanZhuActivity"
            android:label="@string/title_activity_guan_zhu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.ChatActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.BaiduMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.ShowBigImage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.ShowNormalFileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.ChatAllHistoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.findpassword.FindPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.biyanzhi.service.UpdateService" >
        </service>
        <service android:name="com.biyanzhi.service.LoginHuanXinService" >
        </service>

        <activity
            android:name="com.biyanzhi.activity.PictureServerCommentActivity"
            android:label="@string/title_activity_picture_server_comment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.LoginActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.biyanzhi.service.UpLoadErrorLogService" >
        </service>

        <activity
            android:name="com.biyanzhi.activity.LookPlayScoreActivity"
            android:label="@string/title_activity_look_play_score"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.FeedBackActivity"
            android:label="@string/title_activity_feed_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.SelectPKPictureActivity"
            android:label="@string/title_activity_select_pkpicture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.MyGuanZhuActivity"
            android:label="@string/title_activity_my_guan_zhu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.SelectPK2PictureActivity"
            android:label="@string/title_activity_select_pk2_picture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.PKPromptActivity"
            android:label="@string/title_activity_pkprompt"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.TiaoZhanPKSelectPictureActivity"
            android:label="@string/title_activity_tiao_zhan_pkselect_picture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.TiaoZhanPromptActivity"
            android:label="@string/title_activity_tiao_zhan_prompt"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.biyanzhi.activity.PKWinActivity"
            android:label="@string/title_activity_pkwin"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>